<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Strona główna</h2>

<!--na adres dodaj zostanie przesłana/dodana osoba i wrzucona do bazy danych-->
<!--ten formularz jest odpowiedzialny za uzupełnianie tego obiektu user-->
<form action="/dodaj" method="post" th:object="user">

    <input type="text" placeholder="Imię">
    <input type="text" placeholder="Nazwisko">
    <input type="submit" value="Dodaj!">

</form>

</body>
</html>